.services-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 53px;
    padding: 64px 32px;
    width: 100%;
    min-height: 600px;
    max-width: calc(100% - 64px);
}

.title {
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    color: #2c2c2c;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}