.guide {
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 53px;
    padding: 32px;
    width: 100%;
    min-height: 469px;
    max-width: calc(100% - 64px);
    margin-bottom: 64px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    color: #2c2c2c;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #2c2c2c;
}

.options {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1144px;
    height: 324px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}