.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem auto;
      max-width: 500px;
      width: 90%;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 2rem;
    }
    
    .login-form h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      color: #333;
    }
    
    .login-form__submit-button {
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      background-color: #0077cc;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      margin-top: 2rem;
    }
    
    .login-form__submit-button:hover {
      background-color: #005fa3;
    }
    
    .message_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }
    
    .message_container a {
      color: #0077cc;
      margin-left: 0.5rem;
      text-decoration: none;
      transition: color 0.2s ease-in
    }  